<!DOCTYPE html>
<html lang="en">

<head>
  <title>HSE style catalogue - Aside</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" href="../../assets/stylesheets/reset.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.1/build/styles/default.min.css">

  <link rel="stylesheet" href="../../assets/stylesheets/app.css">
  <link rel="stylesheet" href="./aside.css">

  <script src="http://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.1/build/highlight.min.js"></script>
</head>

<body>
  <div class="app-width-container">
    <main id="main-content" class="app-content" role="main">

      <a class="app-link app-link-back" href="javascript:history.back()">Back</a>

      <h1 class="app-heading app-heading-xl">
        <span class="app-caption app-caption-xl">Components</span>
        Aside
      </h1>

      <h2 class="app-heading app-heading-s">Related content with grey background</h2>
      <div class="app-search-examples">
        <img src="../../assets/images/aside/hse-aside-related-content-grey.png" alt="Aside block for related content with a grey background. Screenshot." width="309" />
      </div>
      <p class="app-body">
        This can be found on the <a class="app-link" href="https://www.hse.gov.uk/simple-health-safety/risk/risk-assessment-template-and-examples.htm" target="_blank">HSE guidance pages</a>
      </p>

      <h2 class="app-heading app-heading-s">Related content</h2>
      <div class="app-search-examples">
        <img src="../../assets/images/aside/hse-aside-related-content.png" alt="Aside block for related content. Screenshot." width="231" />
      </div>
      <p class="app-body">
        This can be found on the <a class="app-link" href="https://www.hse.gov.uk/aboutus/index.htm" target="_blank">HSE “about us” pages</a>
      </p>

      <h2 class="app-heading app-heading-s">Resources with red background</h2>
      <div class="app-search-examples">
        <img src="../../assets/images/aside/hse-aside-resources.png" alt="Aside block for resources with red background. Screenshot." width="312" />
      </div>
      <p class="app-body">
        This can be found on the <a class="app-link" href="https://www.hse.gov.uk/simple-health-safety/risk/risk-assessment-template-and-examples.htm" target="_blank">HSE guidance pages</a>
      </p>

    </main>

  </div>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>

</html>
