<!DOCTYPE html>
<html lang="en">

<head>
  <title>HSE style catalogue - Details</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" href="../../assets/stylesheets/reset.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.1/build/styles/default.min.css">

  <link rel="stylesheet" href="../../assets/stylesheets/app.css">
  <link rel="stylesheet" href="_details.css">

  <script src="http://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.1/build/highlight.min.js"></script>
</head>

<body>
  <div class="app-width-container">
    <main id="main-content" class="app-content" role="main">

      <a class="app-link app-link-back" href="javascript:history.back()">Back</a>

      <h1 class="app-heading app-heading-xl">
        <span class="app-caption app-caption-xl">Components</span>
        Details
      </h1>

      <h2 class="app-heading app-heading-s">Details (closed)</h2>
      <div class="app-search-examples">
        <img src="../../assets/images/details/hse-details-closed.png" alt="Link with arrow pointing down, to left of text. Screenshot." width="632" />
      </div>
      <p class="app-body">
        This can be found on the <a class="app-link" href="https://www.hse.gov.uk/riddor/who-should-report.htm#public" target="_blank">HSE contact pages</a>
      </p>

      <h2 class="app-heading app-heading-s">Details (open)</h2>
      <div class="app-search-examples">
        <img src="../../assets/images/details/hse-details-open.png" alt="Link with arrow pointing up, to left of text on yellow background. More content has been revealed beneth, relating to the link. Screenshot." width="632" />
      </div>
      <p class="app-body">
        This can be found on the <a class="app-link" href="https://www.hse.gov.uk/riddor/who-should-report.htm#public" target="_blank">HSE contact pages</a>
      </p>

    </main>

  </div>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>

</html>
