<div id="pagination" role="navigation" aria-label="Pagination Navigation">
  <div class="previous-page">
    <a href="steps-needed-to-manage-risk.htm" id="previousPage" rel="previous">
      <ul>
        <li>
          <span class="pagination-icon">
            Previous<span class="hide"> page</span>
          </span>
          <span class="pagination-text">Steps needed to manage risk</span>
        </li>
      </ul>
    </a><sup class="hideFromScreen">[12]</sup>
  </div>
  <div class="next-page">
    <a href="more-detail-on-managing-risk.htm" id="nextPage" rel="next">
      <ul>
        <li>
          <span class="pagination-icon">
            Next <span class="hide">page</span></span>
          <span class="pagination-text">More detail on managing risk</span>
        </li>
      </ul>
    </a><sup class="hideFromScreen">[13]</sup>
  </div>
</div>