<div class=" pt-cv-pagination-wrapper">
    <ul class="pt-cv-pagination pt-cv-ajax pagination" data-totalpages="11" data-currentpage="1" data-sid="#"
        data-unid="">
        <li class="cv-pageitem-first active">
            <a title="Go to first page">«</a>
        </li>
        <li class="cv-pageitem-prev active">
            <a title="Go to previous page">‹</a>
        </li>
        <li class="cv-pageitem-number active">
            <a title="Current page is 1">1</a>
        </li>
        <li class="cv-pageitem-number">
            <a title="Go to page 2">2</a>
        </li>
        <li class="cv-pageitem-number">
            <a title="Go to page 3">3</a>
        </li>
        <li class="cv-pageitem-number">
            <a title="Go to page 4">4</a>
        </li>
        <li class="cv-pageitem-number">
            <a title="Go to page 5">5</a>
        </li>
        <li class="cv-pageitem-next">
            <a title="Go to next page">›</a>
        </li>
        <li class="cv-pageitem-last">
            <a title="Go to last page">»</a>
        </li>
    </ul>
    <img class="pt-cv-spinner" alt="Loading..." src="data:image/gif" width="15" height="15">
    <div class="clear pt-cv-clear-pagination"></div>
</div>