html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 81.3%;
  line-height: 1;
}

/* Headings */
.hse-heading {
  color: #111;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  display: block;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 15px;
}

.hse-heading-xl {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1em;
  margin-bottom: 20px;
}

.hse-heading-l {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2em;
}

.hse-heading-m {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.3em;
}

.hse-heading-s {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.4em;
}

/* Heading overwrites */
.hse-heading-red {
  color: #981e32;
}

/* Paragraphs */
.hse-body {
  color: #111;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9rem;
  line-height: 1.667em;
  margin-bottom: 15px;
}

/* Links */
.hse-link,
.hse-link:visited {
  color: #981e32;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.667em;
  margin-bottom: 15px;
  text-decoration: underline;
}

.hse-link:hover,
.hse-link:active,
.hse-link:focus {
  color: #333;
  text-decoration: none;
}

/* Link lists */
.hse-list__item--arrow {
  padding-left: 18px;
  position: relative;
}

.hse-list__item--arrow:before {
  content: "";
  background-image: url(https://www.hse.gov.uk/assets/v5-images/icons/svg/solid/caret-right-red.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0;
  position: absolute;
  top: 6px;
  left: 0;
}

/* Lists */
.hse-list {
  color: #111;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 1.667em;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hse-list--bullet {
  list-style: none;
  margin: 0 0 1em 1em;
}

.hse-list--bullet li {
  background: url(https://www.hse.gov.uk/assets/v4-images/website/sprites/bullets.png) 0 .7em no-repeat;
  padding: .1em 0;
  padding-left: 18px;
}

.hse-list--number {
  list-style: decimal outside;
  margin: 0 0 1em .1em;
}

.hse-list--number li {
  margin-left: 15px;
  padding: 0;
}

/* Red background boxes */
.hse-box-background-red .app-heading,
.hse-box-background-red .hse-link {
  color: #fff;
}

.hse-box-background-red .hse-list__item--arrow:before {
  background-image: url(https://www.hse.gov.uk/assets/v5-images/icons/svg/solid/caret-right-white.svg);
}

/* Typography overwrites */
.hse-\!-font-weight-regular {
  font-weight: 400;
}

.hse-\!-font-weight-bold {
  font-weight: 700;
}
