<!DOCTYPE html>
<html lang="en">

<head>
  <title>HSE style catalogue - Components</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" href="../assets/stylesheets/reset.css">
  <link rel="stylesheet" href="../assets/stylesheets/app.css">
</head>

<body>
  <div class="app-width-container">
    <main id="main-content" class="app-content" role="main">

      <a class="app-link app-link-back" href="javascript:history.back()">Back</a>

      <h1 class="app-heading app-heading-xl">
        Components
      </h1>

      <nav>
        <ul class="app-list app-list--bullet">
          <li>
            <a class="app-link app-link--no-visited-state" href="aside/aside.html">
              Aside
            </a>
          </li>
          <li>
            <a class="app-link app-link--no-visited-state" href="breadcrumbs/breadcrumbs.html">
              Breadcrumbs
            </a>
          </li>
          <li>
            <a class="app-link app-link--no-visited-state" href="button/button.html">
              Button
            </a>
          </li>
          <li>
            <a class="app-link app-link--no-visited-state" href="details/details.html">
              Details
            </a>
          </li>
          <li>
            <a class="app-link app-link--no-visited-state" href="pagination/pagination.html">
              Pagination
            </a>
          </li>
          <li>
            <a class="app-link app-link--no-visited-state" href="search/search.html">
              Search
            </a>
          </li>
          <li>
            <a class="app-link app-link--no-visited-state" href="table/table.html">
              Table
            </a>
          </li>
        </ul>
      </nav>

    </main>

  </div>
</body>

</html>
