<!DOCTYPE html>
<html lang="en">

<head>
  <title>HSE style catalogue - Search</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" href="../../assets/stylesheets/reset.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.1/build/styles/default.min.css">

  <link rel="stylesheet" href="../../assets/stylesheets/app.css">
  <link rel="stylesheet" href="./search.css">
  
  <script src="http://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.1/build/highlight.min.js"></script>
</head>

<body>
  <div class="app-width-container">
    <main id="main-content" class="app-content" role="main">

      <a class="app-link app-link-back" href="javascript:history.back()">Back</a>

      <h1 class="app-heading app-heading-xl">
        <span class="app-caption app-caption-xl">Components</span>
        Search
      </h1>

      <h2 class="app-heading app-heading-m">Site</h2>

      <h3 class="app-heading app-heading-s">Full site search</h3>
      <div class="app-search-examples">
        <img src="../../assets/images/search/hse-search-site.png" alt="Search input for HSE website. Screenshot." width="295" />
      </div>
      <p class="app-body">
        This can be found on the <a class="app-link" href="https://www.hse.gov.uk/" target="_blank">HSE website</a>, it uses Google Custom Search to search the website
      </p>

      <h3 class="app-heading app-heading-s">Search on a list</h3>
      <div class="app-search-examples">
        <img src="../../assets/images/search/hse-search-site-2.png" alt="Search input for HSE website. Screenshot." width="709" />
      </div>
      <p class="app-body">
        This can be found on the <a class="app-link" href="https://www.hse.gov.uk/search/search-results.htm?gsc.q=report#gsc.tab=0&gsc.q=report&gsc.page=1" target="_blank">HSE website search list</a> built on top of the main site, using Google
        Custom Search
      </p>

      <h3 class="app-heading app-heading-s">Search wordpress</h3>
      <div class="app-search-examples">
        <img src="../../assets/images/search/hse-press-search.png" alt="Search input for HSE's press release site. Screenshot." width="266" />
      </div>
      <p class="app-body">
        This can be found on the <a class="app-link" href="https://press.hse.gov.uk/" target="_blank">HSE press releases website</a> built on top of Wordpress
      </p>

      <h3 class="app-heading app-heading-s">Search and filter</h3>
      <div class="app-search-examples">
        <img src="../../assets/images/search/hse-careers-search-and-filter.png" alt="Search input for HSE's careers site. Screenshot." width="892" />
      </div>
      <p class="app-body">
        This can be found on the <a class="app-link" href="https://careers.hse.gov.uk/" target="_blank">careers in HSE website</a> built on top of Wordpress
      </p>

    </main>

  </div>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>

</html>
