<!DOCTYPE html>
<html lang="en">

<head>
  <title>HSE style catalogue - Breadcrumbs</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" href="../../assets/stylesheets/reset.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.1/build/styles/default.min.css">

  <link rel="stylesheet" href="../../assets/stylesheets/app.css">
  <link rel="stylesheet" href="_breadcrumbs.css">

  <script src="http://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.1/build/highlight.min.js"></script>
</head>

<body>
  <div class="app-width-container">
    <main id="main-content" class="app-content" role="main">

      <a class="app-link app-link-back" href="javascript:history.back()">Back</a>

      <h1 class="app-heading app-heading-xl">
        <span class="app-caption app-caption-xl">Components</span>
        Breadcrumbs
      </h1>

      <div class="app-search-examples">
        <img src="../../assets/images/breadcrumbs/hse-breadcrumbs.png" alt="Row of page breadcrumbs with right pointing arrow between on grey background. Screenshot." width="947" />
      </div>
      <p class="app-body">
        This can be found on the <a class="app-link" href="https://www.hse.gov.uk/legislation/statinstruments.htm" target="_blank">HSE about pages</a> and elsewhere across the site
      </p>

    </main>

  </div>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>

</html>
